In [3]:
import numpy as np
a = np.random.rand(2, 3)

In [4]:
a

array([[0.58166375, 0.34563499, 0.78556097],
       [0.08330907, 0.99656653, 0.99558986]])

In [11]:
a[1:2]

array([[0.08330907, 0.99656653, 0.99558986]])

In [12]:
import pandas as pd

In [14]:
frame = pd.DataFrame([1, 2, 3, 6])

In [15]:
frame

   0
0  1
1  2
2  3
3  6

In [16]:
frame.fillna('', inplace=True)

In [17]:
frame

   0
0  1
1  2
2  3
3  6

In [19]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 1 columns):
0    4 non-null int64
dtypes: int64(1)
memory usage: 112.0 bytes